@font-face{font-family:'Brother 1816';src:url('../fonts/Brother1816-Medium.ttf') format('truetype');font-weight:400 600;font-style:normal;font-display:swap}
@font-face{font-family:'Brother 1816';src:url('../fonts/Brother1816-Black.ttf') format('truetype');font-weight:700 900;font-style:normal;font-display:swap}
